<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class=menu>
        <div class="nav-wrapper">
            <a href="#">Tech Blog</a>
            <ul id="nav-mobile" class="right">
                <li><a href=>Home</a></li>
                <li><a href=>Dashboard</a></li>
                {{#if loggedIn}}
                    <li><a href="/" id="logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <main>
        {{{ body }}}
    </main>
</body>
</html>